{% load static wagtailuserbar %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% vite_hmr_client %}
    {% vite_asset 'js/main.js' %}

</head>
<body class="mx-auto max-w-screen-xl p-4 bg-gray-50 sm:p-6 dark:bg-gray-800">
{% wagtailuserbar %}

    {% include 'home/_nav.html' %}

    <!-- Main Content -->
    <main class="min-h-screen">
        {% block content %}
        {% endblock %}
    </main>

{% include 'home/_footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
{% block js %}
        {% endblock %}
</body>
</html>