{% extends "home/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <!-- Хлебные крошки -->
    <nav class="mb-6 text-sm">
        <a href="/" class="hover:text-gray-700">Главная</a>
        <span class="mx-2">/</span>

        {% with service_section=page.get_service_section %}
        {% if service_section %}
        <a href="{% pageurl service_section %}" class="hover:text-gray-700">
            {{ service_section.title }}
        </a>
        <span class="mx-2">/</span>
        {% endif %}
        {% endwith %}

        {% with service_category=page.get_parent.specific %}
        {% if service_category %}
        <a href="{% pageurl service_category %}" class="hover:text-gray-700">
            {{ service_category.title }}
        </a>
        <span class="mx-2">/</span>
        {% endif %}
        {% endwith %}

        <span>{{ page.title }}</span>
    </nav>

    <article class="tile tile-white overflow-hidden">



    {% image page.service_image width-1300 as hero_image %}
<section class="bg-center bg-no-repeat bg-gray-700 bg-blend-multiply mb-2" style="background-image: url('{{ hero_image.url }}')">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-12 lg:py-10">
        <h1 class="text-3xl font-bold mb-4 text-white text-center">{{ page.title }}</h1>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
            {% if page.short_description %}
                    <blockquote class="text-xl italic font-normal text-center text-heading text-white text-center">{{ page.short_description|richtext }}</blockquote>
            {% endif %}
        </div>
    </div>
</section>

        <div class="p-8">

            <div class="prose prose-lg max-w-none">
                {{ page.full_description|richtext }}
            </div>
        </div>
    </article>
</div>
{% endblock %}